<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/planets.css">
    <title>Planets</title>
</head>

<body>
    <h1>
        <%= planetName %> is your planet!
    </h1>
    <div>
        <h2>
            mass : <%= src.mass %>
        </h2>
        <h2>
            radius : <%= src.radius %>
        </h2>
        <h2>
            temperature : <%= src.temperature %>
        </h2>
        <h2>
            min. distance (light year) : <%= src.distance_light_year %>
        </h2>
    </div>

    <a href="/">Back to the main page</a>
</body>

</html>