<% layout('../layouts/boilerplate') %>

    <div class="app">
        <h1>
            <%= planetName %>
        </h1>
        <h2>is your planet!</h2>
        <div>
            <h3>
                mass : <%= src.mass %>
            </h3>
            <h3>
                radius : <%= src.radius %>
            </h3>
            <h3>
                temperature : <%= src.temperature %>
            </h3>
            <h3>
                min. distance (light year) : <%= src.distance_light_year %>
            </h3>
        </div>
    </div>
    <a class="links" href="/">Back to the main page</a>