<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald&family=Pacifico&family=Roboto:wght@300&family=Rubik+Bubbles&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/planets.css">
    <title>Planets</title>
</head>

<body>
    <nav class="navbar">
        <p class="mainNavText">planet searching app <a class="links" href="/">back to the main page</a></p>
    </nav>
    <main>
        <div class="app">
            <div class="container">
                <h1 id="headerPlanetName">
                    <%= src.name.toUpperCase() %>
                </h1>
                <div>

                    <% if (src.mass) { %>
                        <h3>
                            mass: <%= src.mass %> jupiters mass
                        </h3>
                        <% } %>
                            <% if (src.radius) {%>
                                <h3>
                                    radius: <%= src.radius %> jupiters
                                </h3>
                                <% } %>
                                    <% if (src.period) {%>
                                        <h3>
                                            period: <%= src.period %> days
                                        </h3>
                                        <% } %>
                                            <% if (src.temperature) {%>
                                                <h3>
                                                    temperature: <%= src.temperature %> kelvin

                                                </h3>
                                                <% } %>
                                                    <% if (src.distance_light_year) { %>
                                                        <h3>
                                                            min. distance from earth:
                                                            <%=parseFloat(src.distance_light_year*8766).toFixed(2)%>
                                                                light hours
                                                        </h3>
                                                        <% } %>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <p class="footbarText">built in 2023 by ala willam <a class="links" href="https://github.com/alawllm">GitHub</a>
        </p>
    </footer>
</body>

</html>